<!DOCTYPE html>
<html ng-app="MyFirstApp">

<head>
    <meta charset="utf-8">
    <title>Hola mundo con angularjs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        angular.module("MyFirstApp",[])
        .controller("FirstController",function($scope){
            $scope.nombre="Adolfo"
            $scope.nuevoComentario={};
            $scope.comentarios = [
                {
                    comentario: "buen tutorial",
                    usuario: "codigofacilito"
                },
                {
                    comentario: "mal tutorial",
                    usuario: "otro  usuario"
                }
            ];
            $scope.agregarComentario=function(){
                $scope.comentarios.push($scope.nuevoComentario)
                $scope.nuevoComentario={};
            }
        })
    </script>
</head>

<body ng-controller="FirstController">
    <input type="text" ng-model="nuevoComentario.comentario">
    <input type="text" ng-model="nuevoComentario.usuario">
    <button ng-click="agregarComentario()">Agregar Comentario</button>
    <h3>Comentario</h3>
    
    <ul>
        <li ng-repeat="linea in comentarios">
            {{linea.comentario }} - <strong> {{linea.usuario }}</strong>
        </li>
    </ul>
</body>

</html>